<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	
	<style> <%= style() %> </style>
	<title> <%= bucketName %> </title>
</head>
<body>
	<div class="player"> <%= player() %> </div>
	<div class="library"> 
		<%= library({ 
			libraryData: libraryData(),
			helperFunctions: new ClientLibrary()
		}) %> 
	</div>
	<script>
		window.audio = new Audio()

		window.eventLibrary = <%= EventLibrary %>
		window.eventLibrary = new window.eventLibrary()
		window.clientLibrary = <%= ClientLibrary %>
		window.clientLibrary = new window.clientLibrary().DOMSetup()
	</script>
</body>
</html>2